/**
 * 频道页公共样式
 */
.title-tip {
  padding: 20px 20px;
  width: 100%;
  color: #222222;
  font-size: 30px;
  font-weight: bold;
  border-bottom-width: 1px;
  border-bottom-color: #eeeeee;
}
.article {
  &__item {
    flex-direction: column;
    margin-bottom: 24px;
    padding: 30px 20px;
    color: #2e3135;
    font-size: 30px;
    background-color: #ffffff;
  }
  &__item-image {
    width: 100%;
    height: 300px;

    .item-image {
      width: 100%;
      height: 100%;
    }
  }
  &__item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-color: #eeeeee;
  }
  &__item-title {
    margin: 20px 0 14px;
    color: #333333;
    font-size: 32px;
    lines: 1;
    text-overflow: ellipsis;
  }
  &__item-desc {
    line-height: 40px;
    lines: 3;
    text-overflow: ellipsis;
  }
  &__item-info {
    margin-top: 20px;

    .read-num,
    .author {
      color: #8e8e8e;
      font-size: 24px;
    }
    .author {
      flex: 1;
      text-align: right;
    }
  }
}
.load-more {
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
